/* sezione header */
.bg_color{
  background-color: blue;
}







/* sezione about */
.inline-block{
  display: inline-block;
}

.center{
  text-align: center;
}

/* sezione contact me */
.dimension{

}

/* sezione around the web */


/* nota footer */
footer{
  background-color:
  text-align: center;
  height:
  line-height:
  vertical-align: middle;
}

.white{
  color: white;
}
